@model IEnumerable<RegisterApplication.AspTask>


@{
    ViewBag.Title = "AddPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="tk-main" style="margin-left:320px;">
    @using (Html.BeginForm())
    {
        <form>

            @*-----------------------------------------------------------------------------------*@
            <div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input class="form-control" placeholder="Enter Your title" name="Title" />
                    </div>
                </div>
            </div>

            <div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input class="form-control" placeholder="Enter tag" name="Tag" />
                    </div>
                </div>
            </div>

            <div class="col-md-10">
                <div class="form-group">
                    <textarea class="ckeditor" name="Description"></textarea>
                </div>
            </div>

            <div class="col-md-10">
                <div class="form-group">
                    <input type="submit" value="Post" class="btn btn-block btn-success" />
                </div>
            </div>
            @*-----------------------------------------------------------------------------------*@

        </form>
    }
</div>